<div class="container">
    <div class="form-container">
        <form>
            <mat-dialog-content>
                <h2 mat-dialog-title>הוספת סרט חדש</h2>
                <mat-form-field MatFormFieldControl appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput id="name" type="text" placeholder="באנגלית, עד 30 תווים בלבד" maxlength="30"
                        name="name" [(ngModel)]="newMovie.name">
                    <!-- <span class="err-msg"> {{ errMSGs.name }} </span> -->
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Category</mat-label>
                    <mat-select id="category" name="category" [(ngModel)]="newMovie.categoryId"
                        (change)="select($event)">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                        </mat-option>
                    </mat-select>
                    <!-- <span class="err-msg"> {{ errMSGs.categoryName }} </span> -->
                </mat-form-field>
                <br>
                <mat-form-field MatFormFieldControl appearance="fill">
                    <mat-label>Imdb link</mat-label>
                    <input matInput type="text" id="imdbUrl" name="imdbUrl" [(ngModel)]="newMovie.imdbUrl">
                    <!-- <span class="err-msg"> {{ errMSGs.imdbUrl }} </span> -->
                </mat-form-field>
                <br>
                <mat-form-field MatFormFieldControl appearance="fill">
                    <mat-label>Image url</mat-label>
                    <input matInput type="text" id="imgUrl" name="imgUrl" [(ngModel)]="newMovie.imgUrl">
                    <!-- <span class="err-msg"> {{ errMSGs.imgUrl }} </span> -->
                </mat-form-field>

                <mat-dialog-actions>
                    <button mat-raised-button mat-dialog-close>Cancel</button>
                    <button mat-raised-button color="primary" (click)="addMovie()" [mat-dialog-close]="true">Add
                    </button>
                </mat-dialog-actions>
            </mat-dialog-content>
        </form>
    </div>
</div>