/* .container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 7%;
}

.container .form-container {
  width: 20%;
}

.container .form-container form {
  display: flex;
  flex-direction: column;
}

.container .form-container form .err-msg {
  color: red;
  font-size: 70%;
}

.container .form-container .field-container {
  display: flex;
  flex-direction: column;
}

.container .form-container .field-container input,
.container .form-container .field-container select,
.container .form-container .field-container select option,
.container .form-container button {
  padding: 2%;
}

.container .form-container .field-container select,
.container .form-container .field-container input,
.container .form-container button {
  font-size: inherit;
}

@media screen and (max-width: 768px) {
  .container {
    margin-top: 17%;
  }
  .container .form-container {
    width: 60%;
  }
} */
