.movie {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.movie .movie-header {
  text-align: center;
}

.movie .movie-header img {
  height: 30vh;
  width: 10vw;
  text-align: center;
}

.movie .movie-body {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.movie .movie-footer {
  text-align: center;
}

.movie .movie-footer .fa-trash {
  cursor: pointer;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .movie .movie-header img {
    height: 100%;
    width: 80%;
  }
}
