<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ movie.name }}</mat-card-title>
        <mat-card-subtitle>{{ movie.categoryName }}</mat-card-subtitle>

    </mat-card-header>
    <img mat-card-image [src]="movie.imgUrl" [alt]="movie.imgUrl">
    <mat-card-footer>
        <div class="centerd-footer-icons">
            <mat-icon class="icon" (click)="deleteMovie()">delete</mat-icon>
            <mat-icon class="icon" (click)="openEditMovieDialog()">edit</mat-icon>
        </div>
    </mat-card-footer>
</mat-card>