<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ movie.name }}</mat-card-title>
        <mat-card-subtitle>{{ movie.categoryName }}</mat-card-subtitle>

    </mat-card-header>
    <img mat-card-image [src]="imgToShow" [alt]="movie.name" (error)="updateImgUrl($event)">
    <mat-card-footer>
        <div class="centerd-footer-icons">
            <mat-icon class="icon" (click)="opendDialog()">delete</mat-icon>
            <mat-icon class="icon" (click)="opendDialog(true)">edit</mat-icon>
        </div>
    </mat-card-footer>
</mat-card>